.button {
  min-width: 204px;
  gap: 10px;
  border-radius: var(--borderSm);
  padding: var(--m14) var(--m40);
  background-color: var(--Red);
  border: 0px;
  cursor: pointer;
  transition: all var(--trTime1) ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-weight: 600;
  color: var(--White);
  font-family: var(--font-inter);
  font-size: var(--p18);
  line-height: var(--lineHeightS);

  svg {
    width: 26px;
    height: 26px;
    transition: all var(--trTime1) ease-in-out;
  }

  &:disabled {
    cursor: auto;
    background-color: var(--RedDark);
    color: var(--GrayLite);
    svg{
      path{
        fill:var(--GrayLite);
      }
    }
  }

  &:hover:not(:disabled) {
    background-color: var(--RedLite);
    svg{
      transform: rotate(360deg);
    }
  }

  @media only screen and (max-width: 767px) {
    min-width: 150px; 
    padding: var(--m12) var(--m20);
  }
}