/* [project]/src/components/buttons/styles.module.scss.module.css [client] (css) */
.styles-module-scss-module___VyWPG__button {
  min-width: 204px;
  gap: 10px;
  border-radius: var(--borderSm);
  padding: var(--m14) var(--m40);
  background-color: var(--Red);
  border: 0;
  cursor: pointer;
  transition: all var(--trTime1) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  color: var(--White);
  font-family: var(--font-inter);
  font-size: var(--p18);
  line-height: var(--lineHeightS);
}

.styles-module-scss-module___VyWPG__button svg {
  width: 26px;
  height: 26px;
  transition: all var(--trTime1) ease-in-out;
}

.styles-module-scss-module___VyWPG__button:disabled {
  cursor: auto;
  background-color: var(--RedDark);
  color: var(--GrayLite);
}

.styles-module-scss-module___VyWPG__button:disabled svg path {
  fill: var(--GrayLite);
}

.styles-module-scss-module___VyWPG__button:hover:not(:disabled) {
  background-color: var(--RedLite);
}

.styles-module-scss-module___VyWPG__button:hover:not(:disabled) svg {
  transform: rotate(360deg);
}

@media only screen and (width <= 767px) {
  .styles-module-scss-module___VyWPG__button {
    min-width: 150px;
    padding: var(--m8) var(--m12);
  }
}


/* [project]/src/components/header/styles.module.scss.module.css [client] (css) */
.styles-module-scss-module__ukmR7q__header {
  margin-bottom: var(--m20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--inboxPaddingSm);
}

.styles-module-scss-module__ukmR7q__header .styles-module-scss-module__ukmR7q__rightSide {
  display: flex;
  align-items: center;
  gap: var(--m12);
}


/* [project]/src/components/matchItem/styles.module.scss.module.css [client] (css) */
.styles-module-scss-module__7GuFMW__matchItemWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--m12);
  background-color: var(--BlackLite);
  padding: var(--inboxPaddingSm) var(--inboxPaddingLg);
  border-radius: var(--borderSm);
}

.styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__name {
  display: flex;
  align-items: center;
  gap: var(--m14);
  font-weight: 600;
  color: var(--White);
  font-family: var(--font-inter);
  font-size: var(--p16);
  line-height: var(--lineHeightXS);
}

.styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__name svg {
  width: 48px;
  height: 48px;
}

.styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: var(--p16);
  font-weight: 600;
  color: var(--White);
  font-family: var(--font-inter);
  font-size: var(--p20);
}

.styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__score .styles-module-scss-module__7GuFMW__status {
  text-align: center;
  min-width: 92px;
  border-radius: var(--borderSm);
  padding: var(--m6);
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--p12);
  line-height: var(--lineHeightXS);
}

.styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__score .styles-module-scss-module__7GuFMW__status.styles-module-scss-module__7GuFMW__finished {
  background-color: var(--Red);
}

.styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__score .styles-module-scss-module__7GuFMW__status.styles-module-scss-module__7GuFMW__scheduled {
  background-color: var(--Orange);
}

.styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__score .styles-module-scss-module__7GuFMW__status.styles-module-scss-module__7GuFMW__ongoing {
  background-color: var(--Green);
}

@media only screen and (width <= 767px) {
  .styles-module-scss-module__7GuFMW__matchItemWrapper {
    flex-wrap: wrap;
  }

  .styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__name {
    gap: var(--m8);
    width: calc(50% - var(--m12));
    line-height: var(--lineHeightM);
  }

  .styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__name:first-child {
    order: 1;
  }

  .styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__name:last-child {
    order: 2;
  }

  .styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__name svg {
    width: 30px;
    height: 30px;
  }

  .styles-module-scss-module__7GuFMW__matchItemWrapper .styles-module-scss-module__7GuFMW__score {
    width: 100%;
    order: 3;
  }
}


/* [project]/src/components/matchTracker/styles.module.scss.module.css [client] (css) */
.styles-module-scss-module__skv_Dq__matchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--m12);
  min-height: 50vh;
}

.styles-module-scss-module__skv_Dq__matchContainer .styles-module-scss-module__skv_Dq__rotateSvg {
  animation: 3s linear infinite styles-module-scss-module__skv_Dq__rotate;
  width: 80px;
  height: 80px;
}

@keyframes styles-module-scss-module__skv_Dq__rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}


/*# sourceMappingURL=src_components_799a313a._.css.map*/
