:root {
    
    --font-inter: 'Inter', sans-serif;

    //* Global 
    --Black: #090909;
    --BlackLite: #0B0E12;
    --White: #fff;
    --Red:#F1274C;
    --RedDark:#701328;
    --RedLite:#A01131;
    --Green:#43AD28;
    --Gray:#FAFAFA66;
    --GrayLite:#787878;
    --Orange:#EB6402;
    
    //transition
    --trTime0: 0.2s;
    --trTime1: 0.3s;
    --trTime2: 0.5s;
    --trTime3: 0.7s;
    --trTime4: 1s;

    --p20: 20px;
    --p18: 18px;
    --p16: 16px;
    --p12: 12px;

    //border
    --borderSm: 4px;
    --borderMd: 6px;
    --borderLg: 8px;

    //margin
    --m6: 6px;
    --m8: 8px;
    --m10: 10px;
    --m12: 12px;
    --m14: 14px;
    --m16: 16px;
    --m17: 17px;
    --m18: 18px;
    --m20: 20px;
    --m22: 22px;
    --m24: 24px;
    --m26: 26px;
    --m28: 28px;
    --m32: 32px;
    --m40: 40px;
    --m60: 60px;


    //line heights
    --lineHeightXS: 1;
    --lineHeightS: 1.2;
    --lineHeightM: 1.4;
    --lineHeightL: 1.6;
    --lineHeightXL: 1.8;

    --inboxPaddingSm:16px;
    --inboxPaddingMd:19px;
    --inboxPaddingLg:36px;
    --inboxPaddingXl:42px;

    --globalWrapPadding:100px;
    --globalSectionsPadding:50px;

    --maxWidth:1240px;
}



@media only screen and (max-width: 767px) {
    :root {
        --p20: 18px;
        --p18: 16px;
        --p16: 14px;
        --p12: 12px;

        --inboxPaddingSm: 14px;
        --inboxPaddingLg: 16px;
    }
}